name: CI
run-name: CI • ${{ github.event_name }} • ${{ github.ref_name }}
permissions: read-all

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
  push:
    branches:
      - main

jobs:
  setup:
    uses: ./.github/workflows/run-setup.yml
  