name: Release PowerShell Script Module
on:
  workflow_call:
    inputs:
      version-tag:
        description: 'Version tag (e.g., v0.9.7) - leave empty to use latest commit'
        required: false
        type: string
      publish:
        description: 'Publish release to PSGallery'
        required: false
        type: boolean
        default: false
      module-list:
        description: 'Comma-separated list of PowerShell modules to install and cache'
        required: true
        type: string
    secrets:
      NUGETAPIKEY_PSGALLERY:
        description: 'NuGet API Key for publishing to PSGallery'
        required: false

jobs:
  build:
    name: PowerShell Module
    runs-on: [ubuntu-latest]
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.01
        with:
          repository: ${{ github.repository }}
          ref: ${{ inputs['version-tag'] || '' }}
          fetch-depth: 0
      - name: Install GitVersion tool
        uses: gittools/actions/gitversion/setup@d0139503a9321f76b4a417dfdc8aebcec24decdd #v4.2.0
        with:
          versionSpec: '6.5.1'

      - name: Get semantic build version
        uses: gittools/actions/gitversion/execute@d0139503a9321f76b4a417dfdc8aebcec24decdd #v4.2.0
        with:
          configFilePath: GitVersion.yml
          disableShallowCloneCheck: true

      - name: Restore cached PowerShell modules
        uses: potatoqualitee/psmodulecache@ee5e9494714abf56f6efbfa51527b2aec5c761b8 #v6.2.1
        with:
          modules-to-cache: ${{ inputs['module-list'] }}
          shell: pwsh
          updatable: false

      - name: Determine release type and build version
        shell: pwsh
        run: |
          switch ("${{ github.event_name }}") {
            'workflow_dispatch' { $releaseType = 'Release' }
            'pull_request'      { $releaseType = 'Debug' }
            'push' {
              if ('${{ github.ref_name }}' -eq 'main') {
                $releaseType = 'Prerelease'
              } else {
                $releaseType = 'Debug'
              }
            }
            default { $releaseType = 'Debug' }
          }
          echo "releaseType=$releaseType" >> $env:GITHUB_ENV

          switch ($releaseType) {
              'Release' {
                  # e.g. 1.2.4-5  ->  1.2.4
                  $releaseVersion = $env:semVer.Split('-', 2)[0]
              }
              'Prerelease' {
                  # e.g. 1.2.4-5  ->  1.2.4-Prerelease-5
                  $releaseVersion = $env:semVer.Split('-', 2)[0] + '-Prerelease'
              }
              'Debug' {
                  # 1.2.4-PullRequest1234 -> 1.2.4-PullRequest1234
                  $releaseVersion = $env:semVer
              }
          }
          echo "releaseVersion=$releaseVersion" >> $env:GITHUB_ENV

      - name: Run build via Invoke-Build
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          [void] (Import-Module InvokeBuild)
          $requestParam = @{
              SemanticVersion = '${{ env.releaseVersion }}'
              Task            = 'Build'
          }
          Invoke-Build @requestParam

      - name: Run Export-CommandHelp via Invoke-Build
        shell: pwsh
        run: |
          # PlatyPS 1.0.1+ is not compatible with Set-StrictMode
          # New-MarkdownCommandHelp fails with:
          #  > The property 'inputTypes' cannot be found on this object. Verify that the property exists.
          Set-StrictMode -off
          [void] (Import-Module InvokeBuild)
          $requestParam = @{
              SemanticVersion = '${{ env.majorMinorPatch }}'
              Task            = 'Export-CommandHelp'
          }
          Invoke-Build @requestParam

      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6
        if: (!cancelled())
        with:
          name: build-${{ env.semVer }}
          path: build/**
          if-no-files-found: warn

      - name: Generate release notes
        shell: pwsh
        id: generate_release_notes
        if: github.ref_name == 'main' && (github.event_name == 'workflow_dispatch' || github.event_name == 'push')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git fetch --tags
          # Find previous tag based on release type
          # - For 'Prerelease', use the latest tag (Release notes are generated from last commit to latest tag)
          # - For 'Release', use the second latest tag (Release notes are generated from last tag to second latest tag)
          $tags = git tag --sort=-v:refname
          switch ($releaseType) {
            'Prerelease' { $previousTag = $tags[0] }
            'Release'    { $previousTag = $tags[1] }
            default { $previousTag = $tags[0] }
          }

          # Generate release notes via GitHub API
          $uri = "https://api.github.com/repos/${{ github.repository }}/releases/generate-notes"
          $body = @{
            tag_name = 'v${{ env.majorMinorPatch }}'
            target_commitish = "main"
            previous_tag_name = $previousTag
          }
          $requestParams = @{
            Method      = 'Post'
            Uri         = $uri
            Headers     = @{
              Authorization = "Bearer ${{ env.GITHUB_TOKEN }}"
              Accept        = 'application/vnd.github+json'
            }
            Body        = ($body | ConvertTo-Json -Depth 3)
            ContentType = 'application/json'
          }
          $result = Invoke-RestMethod @requestParams

          # Output release notes
          Write-Output 'releaseNotes<<EOF' >> $env:GITHUB_OUTPUT
          Write-Output ($result.body.ToString()) >> $env:GITHUB_OUTPUT
          Write-Output 'EOF' >> $env:GITHUB_OUTPUT

      - name: Create release
        uses: ncipollo/release-action@v1
        if: github.ref_name == 'main' && (github.event_name == 'workflow_dispatch' || github.event_name == 'push')

        with:
          name: Release v${{ env.majorMinorPatch }}
          tag: v${{ env.majorMinorPatch }}
          body: ${{ steps.generate_release_notes.outputs.releaseNotes }}
          prerelease: ${{ env.releaseType == 'Prerelease' }}
          allowUpdates: true


      - name: Commit generated help
        if: github.ref_name == 'main' && github.event_name == 'push'
        shell: bash
        run: |
          git add docs/help
          if git diff --cached --quiet; then
            echo "No help changes to commit"
            exit 0
          fi

          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git commit -m "Update PowerShell help for release v${{ env.majorMinorPatch }}"
          git push origin HEAD:main

      - name: Publish build package to PSGallery
        if: github.ref_name == 'main' && (env.NUGETAPIKEY_PSGALLERY != '')
        shell: pwsh
        env:
          NUGETAPIKEY_PSGALLERY: ${{ secrets.NUGETAPIKEY_PSGALLERY }}
        run: |
          Set-StrictMode -Version Latest
          [void] (Import-Module InvokeBuild)
          Invoke-Build -NugetApiKey ${{ env.NUGETAPIKEY_PSGALLERY }} -Task Publish
