name: Release PowerShell Script Module
on:
  workflow_call:
    inputs:
      release-type:
        description: 'Release type'
        required: true
        type: string
      publish-psgallery:
        description: 'Publish release to PSGallery'
        required: true
        type: boolean
      publish-nugetorg:
        description: 'Publish release to NuGet.org'
        required: true
        type: boolean
      module-list:
        description: 'Comma-separated list of PowerShell modules to install and cache'
        required: true
        type: string
    secrets:
      PSGALLERY_API_KEY:
        description: 'PSGallery API Key'
        required: false
      NUGETORG_API_KEY:
        description: 'NuGet.org API Key'
        required: false

jobs:
  build:
    name: PowerShell Module
    runs-on: [ubuntu-latest]
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.01
        with:
          repository: ${{ github.repository }}
          fetch-depth: 0
      - name: Install GitVersion tool
        uses: gittools/actions/gitversion/setup@d0139503a9321f76b4a417dfdc8aebcec24decdd #v4.2.0
        with:
          versionSpec: '6.5.1'

      - name: Get semantic build version
        id: gitversion
        uses: gittools/actions/gitversion/execute@d0139503a9321f76b4a417dfdc8aebcec24decdd #v4.2.0
        with:
          configFilePath: GitVersion.yml
          disableShallowCloneCheck: true

      - name: Restore cached PowerShell modules
        uses: potatoqualitee/psmodulecache@ee5e9494714abf56f6efbfa51527b2aec5c761b8 #v6.2.1
        with:
          modules-to-cache: ${{ inputs['module-list'] }}
          shell: pwsh
          updatable: false

      - name: Determine release version
        id: release-version
        shell: pwsh
        run: |
          switch (${{inputs['release-type']}}) {
              'Release' {
                  # e.g. 1.2.4-5  ->  1.2.4
                  $releaseVersion = $env:semVer.Split('-', 2)[0]
              }
              'Prerelease' {
                  # e.g. 1.2.4-5  ->  1.2.4-Preview-5
                  $releaseVersion = $env:semVer.Split('-', 2)[0] + '-Preview-' + $env:semVer.Split('-', 2)[1]
              }
          }
          echo "releaseVersion=$releaseVersion" >> $env:GITHUB_OUTPUT

      - name: Run build via Invoke-Build
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          [void] (Import-Module InvokeBuild)
          $requestParam = @{
              SemanticVersion = '${{ steps.release-version.outputs.releaseVersion }}'
              Task            = 'Build'
          }
          Invoke-Build @requestParam

      - name: Run Export-CommandHelp via Invoke-Build
        shell: pwsh
        run: |
          # PlatyPS 1.0.1+ is not compatible with Set-StrictMode
          # New-MarkdownCommandHelp fails with:
          #  > The property 'inputTypes' cannot be found on this object. Verify that the property exists.
          Set-StrictMode -off
          [void] (Import-Module InvokeBuild)
          $requestParam = @{
              SemanticVersion = '${{ steps.gitversion.outputs.majorMinorPatch }}'
              Task            = 'Export-CommandHelp'
          }
          Invoke-Build @requestParam

      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6
        if: (!cancelled())
        with:
          name: release-build-${{ steps.release-version.outputs.releaseVersion }}
          path: build/**
          if-no-files-found: warn

      - name: Generate release notes
        shell: pwsh
        id: generate_release_notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git fetch --tags
          $previousTag = (git tag --sort=-v:refname)[0]

          # Generate release notes via GitHub API
          $uri = "https://api.github.com/repos/${{ github.repository }}/releases/generate-notes"
          $body = @{
            tag_name = 'v${{ steps.gitversion.outputs.majorMinorPatch }}'
            target_commitish = "main"
            previous_tag_name = $previousTag
          }
          $requestParams = @{
            Method      = 'Post'
            Uri         = $uri
            Headers     = @{
              Authorization = "Bearer ${{ env.GITHUB_TOKEN }}"
              Accept        = 'application/vnd.github+json'
            }
            Body        = ($body | ConvertTo-Json -Depth 3)
            ContentType = 'application/json'
          }
          $result = Invoke-RestMethod @requestParams

          # Output release notes
          Write-Output 'releaseNotes<<EOF' >> $env:GITHUB_OUTPUT
          Write-Output ($result.body.ToString()) >> $env:GITHUB_OUTPUT
          Write-Output 'EOF' >> $env:GITHUB_OUTPUT

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          name: Release v${{ steps.gitversion.outputs.majorMinorPatch }}
          tag: v${{ steps.gitversion.outputs.majorMinorPatch }}
          body: ${{ steps.generate_release_notes.outputs.releaseNotes }}
          prerelease: ${{ inputs.release-type == 'Prerelease' }}
          allowUpdates: true

      - name: Publish build package to PSGallery
        if: inputs.publish-psgallery == true && env.PSGALLERY_API_KEY != ''
        shell: pwsh
        env:
          PSGALLERY_API_KEY: ${{ secrets.PSGALLERY_API_KEY }}
        run: |
          Set-StrictMode -Version Latest
          [void] (Import-Module InvokeBuild)
          Invoke-Build -NugetApiKey ${{ env.PSGALLERY_API_KEY }} -Task Publish