name: CI Setup PowerShell Dependencies
permissions: read-all
on:
  workflow_call:
    outputs:
      module-list: 
        description: 'Comma-separated list of PowerShell modules to install and cache'
        value: ${{ jobs.setup-powershell-dependencies.outputs.module-list }}

jobs:
  setup-powershell-dependencies:
    name: PowerShell Dependencies
    runs-on: [ubuntu-latest]
    outputs:
      module-list: ${{ steps.resolve-dependencies.outputs.module-list }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.01
        with:
          repository: ${{ github.repository }}

      - name: Resolve module dependencies
        id: resolve-dependencies
        shell: pwsh
        run: |
          # Resolve module dependencies from requirements.psd1
          $moduleRequirements = Import-PowerShellDataFile -Path './requirements.psd1'
          $moduleList = (
              $moduleRequirements.GetEnumerator() |
                  ForEach-Object {
                      $moduleName = $_.Key
                      $moduleInfo = $_.Value
                      
                      $name = if ($moduleInfo.Repository -and $moduleInfo.Repository -ne 'PSGallery') {
                          "$($moduleInfo.Repository)\$moduleName"
                      }
                      else {
                          $moduleName
                      }

                      if ($moduleInfo.Version -and $moduleInfo.Version -ne 'latest') {
                          "$($name):$($moduleInfo.Version)"
                      }
                      else {
                          "$($name)"
                      }
                  }
          ) -join ','
          "module-list=$moduleList" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

      - name: Install and cache PowerShell modules
        uses: potatoqualitee/psmodulecache@ee5e9494714abf56f6efbfa51527b2aec5c761b8 #v6.2.1
        with:
          modules-to-cache: ${{ steps.resolve-dependencies.outputs.module-list }}
          shell: pwsh
          updatable: false

      - name: Verify installed modules
        shell: pwsh
        run: |
          # Verify that required modules are installed
          $moduleRequirements = Import-PowerShellDataFile -Path './requirements.psd1'
          foreach ($moduleName in $moduleRequirements.Keys) {
              Get-Module -ListAvailable -Name $moduleName -ErrorAction Stop
          }
