name: Pull Request

on:
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    permissions:
      issues: write
      pull-requests: write
    name: Build and Test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest] #[ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ensure PowerShell modules are installed
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          Write-Host 'Installing required modules to CurrentUser scope if missing...'
          Install-Module -Name 'PSDepend' -Scope CurrentUser -Force -AllowClobber -ErrorAction Stop
          Invoke-PSDepend -Force -Path "./requirements.psd1"

      - name: Run build via Invoke-Build
        shell: pwsh
        run: |
          $VerbosePreference = 'Continue'
          Set-StrictMode -Version Latest
          Invoke-Build -ReleaseType Debug

      - name: Run Static Code Analysis via Invoke-Build
        shell: pwsh
        run: |
          $VerbosePreference = 'Continue'
          Set-StrictMode -Version Latest
          Invoke-Build -Task Analyze

      - name: Run Unit Tests via Invoke-Build
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          Invoke-Build -Task UnitTest

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
            test-results/**/*.xml
            test-results/**/*.trx
            test-results/**/*.json

      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: ${{ github.workspace }}/coverage/coverage.xml
          retention-days: 5

      - name: Convert Code Coverage Report to markdown
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '0 80'

      - name: Add Code Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Upload build artifacts (if any)
        uses: actions/upload-artifact@v4
        with:
          name: PSRedFishClient-build
          path: build/**
          if-no-files-found: warn
