name: Build Project

on:
  workflow_call:
permissions: read-all

jobs:
  build:
    name: Build
    runs-on: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: '6.5.x'
          preferLatestVersion: true

      - name: Determine Version
        id: version_step # step id used as a reference for output values
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          configFilePath: gitversion.yml

      - run: |
          echo "SemVer (env.SemVer): ${{ steps.version_step.outputs.GitVersion_MajorMinorPatch }}"
        name: Display GitVersion variables (without prefix)

      - name: Ensure PowerShell modules are installed
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          Install-Module -Name 'PSDepend' -Scope CurrentUser -Force -AllowClobber -ErrorAction Stop
          Invoke-PSDepend -Force -Path "./requirements.psd1"

      - name: Run build via Invoke-Build
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          Import-Module InvokeBuild -ErrorAction Stop
          Invoke-Build -ReleaseType Release -SemanticVersion ${{ steps.version_step.outputs.GitVersion_MajorMinorPatch }} -Task Build

      - name: Upload build artifacts (if any)
        uses: actions/upload-artifact@v4
        with:
          name: PSRedFishClient-build
          path: build/**
          if-no-files-found: warn

      - name: Publish build via Invoke-Build
        # Change 'namerno' to the desired event name to enable publishing
        if: github.event_name == 'namerno' 
        shell: pwsh
        env:
          NuGetApiKey: ${{ secrets.NuGetApiKey_PSGallery }}
        run: |
          $VerbosePreference = 'Continue'
          Set-StrictMode -Version Latest
          Import-Module InvokeBuild -ErrorAction Stop
          Invoke-Build -NugetApiKey ${{ env.NuGetApiKey }} -Task Publish

      # Create a new tag based on the version determined by GitVersion
      - name: Create Release Tag
        if: github.ref_name == 'main'
        run: |
          git tag v${{ steps.version_step.outputs.GitVersion_MajorMinorPatch }}
          git push origin tag v${{ steps.version_step.outputs.GitVersion_MajorMinorPatch }}