name: CI - Static Code Analysis

on:
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    permissions:
      issues: write
      pull-requests: write
      checks: write
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ensure PowerShell modules are installed
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          Install-Module -Name 'PSDepend' -Scope CurrentUser -Force -AllowClobber -ErrorAction Stop
          Invoke-PSDepend -Force -Path "./requirements.psd1"

      - name: Run build via Invoke-Build
        shell: pwsh
        run: |
          $VerbosePreference = 'Continue'
          Set-StrictMode -Version Latest
          Invoke-Build -ReleaseType Debug

      - name: Run Static Code Analysis via Invoke-Build
        shell: pwsh
        run: |
          $VerbosePreference = 'Continue'
          Set-StrictMode -Version Latest
          Invoke-Build -Task Analyze

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          check_name: Static Code Analysis
          comment_mode: off
          files: |
            test-results/**/*.xml